

body {
    /* background-image: url("gradient2.jpg"); */
    /* background-image: url("gradient2.jpg"); */
    background-color: #d4d4d4;
    background-size:cover;
    background-position: center;
    background-repeat:repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-top: 3%;
    /* margin-right: 5%; */
    /* padding-right: 8%; */
    
    /* background-: url("gradient3.jpg");
    background-repeat: no-repeat;
    width: 10px;
    height: 20px; */
}
.resume a{
    color:lightblue;
    text-decoration:underline;
    font-size: 18px;
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-right: px;
    
}
.programing{
    /* font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px solid;
    border-radius: 5px;
    color: bisque;
    border-color: bisque; */
    /* border-top: 3px solid; */
    /* border-bottom: 3px solid; */
        /* border-radius: 5px; */
        /* padding-bottom: 3px; */
        border-color: black;
        /* color: bisque; */
        list-style-type: none;
        display: inline-flex;
        flex-direction: row;
        padding-top: 5px;
        padding-right: 15%;
        padding-left: 25px;
        /* padding-right: 25px; */
        padding-bottom: 10px;
        /* margin-right: 5%; */
        font-size: 18px;
}
/* .listcolor{
    color: bisque;
}
.listcolor li{
    padding: 3px
} */

.resume a:hover{
    color: lightblue;
}
div {
    padding-top: 40px;
    position:absolute; 
    float: right;
    font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    'Geneva',
    'Verdana',
    'sans-serif';
    float:middle;
    font-size: 16px;
}
.pic {
    border-radius: 10px;
    size: 15%;
    display: flex;
    float: right;
    width: 30%;
    border: 2px solid;
    color: black;
    margin-top: 4%;
    margin-right: 5%;
    position: middle;

}
div h3{
    font-size: 18px;
    color: black;
    /* border-bottom: 3px solid; */
    display: flex;
    flex-direction: column;
    /* padding-bottom: 5px; */
    letter-spacing: 5px;
    float: top left;
    align-items: center;
    font-size: 25px;
    
    /* width: 50%; */
    padding: 15px;
    max-width: 50%;
    border-radius: 15px;
    box-shadow: 16px 16px 32px #959595, -16px -16px 32px #fefefe;
    
    /* background-size: auto; */
    /* background-position: top; */
    /* margin-right: 45%; */
}
/* div .logo {
    size: 8%;
    display: inline-flex;
    /* position: static; 
    float: top;
    width: 18%;
    height: auto;
    margin-right: 20%;
    border: none;
    float: top;
} */
div p{
    padding-top: 10px;
    color: black;
    margin-top: 8px;
    line-height: 30px;
    /* text-align: top left; */
    float: top left;

    /* float: left; */
    margin-right: 40%;
}
/* nav{
     background-image: url("gradient1.jpg"); 
    background-size: auto;
    background-position: 75%;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
} */
nav h1{
    /* padding-top: 15px; */
    /* margin-left: 10px; */
    padding-bottom: 15px;
    font-size: 30px;
    display: inline-flex;
    color: black;
    letter-spacing: 5px;
    border: 3px solid;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 16px 16px 32px #959595, -16px -16px 32px #fefefe;
}
/* nav ul{
    display:inline;
    padding-left: 700px;
    /* padding-right: 150px; */
    /* float: right; 
    
} 
nav ul li{
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 5px;
    padding-bottom: 3px;
    border-color: bisque;
    color: bisque;
    list-style-type: none;
    display: inline;
    padding-top: 5px;
    padding-right:15%;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 5%;
    font-size: 18px;
}
nav ul li a{
    color: bisque;
    padding-bottom: 2px;
}
*/
.about h3{
    color: black;
    background-color: rgb(36, 36, 36);
    background-size: auto;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 16px 16px 32px #959595, -16px -16px 32px #fefefe;
    background-position: top;
    width: 50%;
    /* border-radius: 5px; */
}
.info{
    box-shadow: 8px 8px 24px #959595, -8px -8px 24px #fefefe;
    border-radius: 15px;
}
/* .about p{
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 50%;
    color: bisque;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
    display: inline-flexbox;

} */
/* .about .project{
    padding-left: 10px;
    border: 2px solid;
    font-size: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: bisque;
    display: inline;
    /* display: inline; 
} */

.about dl{
    margin-top: 2%;
    margin-right: 10px;
    line-height: 30px;
    color: black;
    padding: 10px;
    margin-right: 40%;
    font-size: 16px;
    line-height: 25px;
}
.about hr{
    clear: both;
    visibility: hidden;
    color: transparent;
}
.about dl dd {
    /* border-bottom: 2px solid; */
    padding-top: -5px;
    padding-bottom: -15px;
        /* box-shadow: 4px 4px 12px #fefefe, -4px -4px 12px #959595; */
}
.about dl dt{
    /* border-bottom: 2px solid; */
    /* padding: 3px; */
    color: black;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 4px 4px 12px #fefefe, -4px -4px 12px #959595;
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    float: middle;
    /* clear: both; */
    font-size: 16px;
} 
.container{
    display: flex;
    /* justify-content: center; */
    align-items: left;
    justify-content:left;
    background-image: url("gradient2.jpg");
    min-height: 100vh;
    box-shadow: 16px 16px 32px #959595, -16px -16px 32px #fefefe;
}
.card{
    padding-top: px;
        display: flex;
        justify-content: left;
        align-items: center;
        min-height: 300px;
        flex-direction: column;
        gap: 35px;
        border-radius: 15px;
        /* border: 1px solid; */
        /* border-color: black; */
    /* background-image: url("gradient2.jpg"); */
    box-shadow: 16px 16px 32px #959595, -16px -16px 32px #fefefe;        padding: 25px;
        text-decoration: none;
        width: 500px;
}
.soft{
    /* gap: 25px; */
    justify-content: center;
    display: flex;
   
    box-shadow: 6px 6px 24px #959595, -6px -6px 24px#fefefe;
    border-radius:15px;
    width: 25%;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
}
/* .box{

width: 500px;
} */
/* .contact dl {
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 8%;
    color: bisque;
    font-size: 18px;
}*/

.box dt {
    color: black;
    /* border-right: 3px;
    border-left: 3px; */
    /* padding-bottom: 2px; */
    font-weight: bold;
    font-family: helvetica;
    /* border-bottom: 3px solid; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border-radius: 5px;
    gap: 25px;
    align-items: center;
    
}

.box dd{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: black;    
    font-family: sans-serif;
    justify-content: left;
    align-items: left;
    float: middle;
    font-size: 16px;

}
.logos{
    display: flex;
    height:45px;
    width: 45px;
    flex-direction: row;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    float: left;
    gap: 10px;
    
    
}
/* .box dd a{
    margin-top: 10px; 
    color: lightblue;
    font-family: sans-serif;
    text-decoration:underline;
    padding-top: 2px solid;
    border-color: lightblue;
    text-decoration-color: lightblue; 
    text-decoration: none;
    display: flex;
}  */
.box dd a:hover {
    /* margin-top: 10px; */
    color: black;
}
/* .button {
    border: 1px solid;
    padding: 5px;
    border-color:bisque;
    /* padding-right: 50px; 
    border-radius: 15px;
    display: inline-flex;
 align-items:baseline;     
    padding-right: 30%;
    padding-left: 30%;
} */
.btn2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 50px;
    float: middle;
    background: transparent;
    border: 3px solid black;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
        margin-top: 10px;
            font-size: 20px;
    box-shadow: 4px 4px 8px #959595, -4px -4px 8px #fefefe;
        transition: ease-in .3s;
        /* font-family:; */
}
.btn2 a {
    color: black;
        text-decoration: none;
        transition: ease-in-out;
}

.btn2:hover {
box-shadow: 4px 4px 8px white, -4px -4px 8px #959595;
    inset: 200px 0 black;
    font-weight: bold;
    border-color: bisque;
}

.btn2:hover a {
    color: black;
}
.btn1{
    margin-top: 20px;
    display: flex;
    justify-content:center;
    margin-right: 15px;
    align-items:center;
    float: right;
        border: 3px solid black;
    background: transparent;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    box-shadow: 4px 4px 8px #959595, -4px -4px 8px #fefefe;
    transition: ease-in .3s;
}
.btn1 a {
    color: black;
    text-decoration: none;
    transition: ease-in-out;
}
.btn1:hover {
    box-shadow: 4px 4px 8px white, -4px -4px 8px #959595;
    inset: 200px 0 black;
    font-weight: bold;
     border-color: bisque;
}
.btn1:hover a {
    color: black;
}
.btn {
    /* color:Bisque;
    box-shadow: 2px 2px 10px bisque, -2px -2px 10px bisque; */
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
    justify-content: center;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 800px;
    align-items: center;
    float: center;
    font-size: 15px;
    box-shadow: 4px 4px 8px #959595, -4px -4px 8px white;
    transition: ease-in .3s;
}
.btn a{
color: black;
text-decoration: none;
transition: ease-in-out;
}
.btn:hover{
        box-shadow: 4px 4px 8px white, -4px -4px 8px #959595;
        inset: 200px 0 black;
        font-weight: bold;
        border-color: bisque;
}
.btn:hover a{
color: black;
/* border-color: bisque; */
}
/* .box a:hover {
    color: lightblue;
} */
.box hr {
    clear: both;
    visibility: hidden;
}
a:hover {
    color:lightblue;
}
a:link{
    text-decoration: none;
}